.cover__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  z-index: 100;
  position: relative;
}

@media screen and (max-width: 680px) {
  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 114%;
    width: 90%;
  }
}
