.header {
  margin: 28px auto 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1184px) {
  .header {
    max-width: 928px;
    }
}

@media screen and (max-width: 950px) {
  .header {
    max-width: 720px;
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 288px;
    margin: 16px auto 0 auto;
  }
}
