.header {
  margin: 28px auto 0 auto;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1025px) {
  .header {
    width: 90.6%;
    }
}

@media screen and (max-width: 850px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 680px) {
  .header {
    width: 90%;
    margin: 16px auto 0 auto;
  }
}
