.place__paragraph {
  margin: 0;
  margin-bottom: 27px;
  width: 100%;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 850px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 680px) {
  .place__paragraph {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }

  .place__paragraph:nth-child(1) {
    margin-bottom: 25px;
  }
}
