.place__paragraph {
  margin: 0;
  margin-bottom: 27px;
  width: 100%;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 950px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    width: 90%;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
  }

  .place__paragraph:nth-child(1) {
    margin-bottom: 25px;
  }

  .place__paragraph:last-child {
    margin-bottom: 0px;
  }

}
