.intro {
  margin: 93px auto 0 auto;
  width: 76.875%;
}

@media screen and (max-width: 1025px) {
  .intro {
    width: 90.625%;
  }
}

@media screen and (max-width: 850px) {
  .intro {
    width: 93.75%;
    margin: 89px auto 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .intro {
    width: 90%;
    margin: 64px auto 0 auto;
  }
}
