.intro {
  margin: 93px auto 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1184px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    max-width: 720px;
    margin: 89px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    margin: 64px auto 0 auto;
  }
}
