.cover {
  margin: 92px auto 0 auto;
  width: 92.5%;
}

@media screen and (max-width: 1025px) {
  .cover {
    width: 100%;
  }
}


@media screen and (max-width: 680px) {
  .cover {
    margin-top: 66px;
  }
}

