.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  position: relative;
  padding-top: 20.69%;
}

@media screen and (max-width: 1025px) {
  .cover__title {
    padding-top: 19.043%;
  }
}

@media screen and (max-width: 850px) {
  .cover__title {
    padding-top: 14.97%;
  }
}

@media screen and (max-width: 680px) {
  .cover__title {
    padding-top: 10.31%;
    font-size: 32px;
    line-height: 109%;
    width: 78%;
  }
}
