.cover__cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cover__cont::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
}

.cover__cont:hover {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.8;
  z-index: 1;
}


